body{
    background: black;
    color:rgb(1, 0, 2);
    text-align:center;
    font-family: "Arial";
    font-size: 16px;
    margin: 0;
    padding:20;

}  
#cabecera{
    font-size: 30px;
    background: #37488b;
    box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.5);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.3em;
    
} 
#cabecera #tagline{
    padding:  0 0 0 1em;
    font-weight: normal;
    font-size: 1.8em;


}
#cabecera #logo{
    width: 80px;
    vertical-align: middle;
}
#container{
    width:70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #b411dd;
    margin: 0 auto;
    color: black;
    background:rgb(217, 244, 252) ;
}

#container h1 {
    font-size: 20px;
}
#post{
    background:white;
    padding:1em;
}